<!-- Menu desplegable -->
<!-- en la clase acctive para mostrar por defecto uno de ellos -->
<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link active">
        <i class="fas fa-credit-card"></i>
        <p> Credito <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'fac:ImagenComprobante' %}" class="nav-link">
                <i class="nav-icon fas fa-cart-arrow-down"></i>
                <p>ImagenesComprobante</p>
            </a>
            <a href="{% url 'fac:imagenesProforma' %}" class="nav-link">
                <i class="nav-icon fas fa-user-tag"></i>
                <p>ImagenesProforma</p>
            </a>
        </li>
    </ul>
</li>